body {
  width: 300px;
  background: #fafafa;
  height: auto
}

form {
  position: relative;
}

#search {
  outline: none;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px rgba(255,255,255,.6), 0 1px 0 rgba(255,255,255,.6);
  width: 95%;
  height: 25px;
  padding: 5px 8px;
  font-size: 14px;
  color: #777;
}

.loading {
 background: url("../images/loading.gif") 96% no-repeat;
}
.results_wrapper {
  display: none
}
